{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'autenticacao/cadastro.css' %}">
{% endblock %}
{% block 'body' %}
<div class="box">
<h1 class="titulo font-degrade borda-bottom-degrade">Recuperar senha</h1>
<br>
<form action="{% url 'password_reset' %}" method="POST">{% csrf_token %}
    {{form}}
    <input type="submit" class="btn btn-primary btn-sm" value="Recuperar">
    {% if form.errors %}
       {{form.errors}}
    {% endif %}
    </form>
   </div>
    
{% endblock %}   